*{
    margin:0;
    padding:0;
}
body{
    font-family:'poppins',sans-serif;
}
.navbar{
    background-color: #7e61ab;
    padding: 10px;
}
.navbar h1{
    margin-left: 10px;
}

.container{
    background-color: black;
    color: aliceblue;
    width:20%;
    padding:20px;
    margin:20px;
    border-radius:10px;
}
.container h2{
    color: #7e61ab;
}
.quote p,#btn{
    margin-top: 10px;;
}
#btn{
    padding: 5px 10px;
    margin: 5px,20px;
    background-color: #7e61ab;
    border: none;
    color: aliceblue;
    border-radius: 5px;
}
.add-btn{
    background-color: #7e61ab;
    color: aliceblue;
    border-radius: 100%;
    position: fixed;
    padding: 15px;
    font-size: 40px;
    border: none;
    right:30px;
    bottom:30px;

}
.overlay{
    background-color: black;
    opacity: 0.8;
    top:0;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.popup{
    top:10%;
    bottom:10%;
    left:10%;
    position: absolute;
    z-index: 2;
    background-color:#7e61ab;
    width: 35%;
    padding: 15px;
}
.popup input{
    background-color: transparent;
    border:none;
    border-bottom:black;
    width:100%;
    padding: 5px;
    margin:20px;
}
.pop input::placeholder{
    color: black;
}